body{
    font-family: monospace;
    margin: 0;
}
header{
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}
nav ul li a:hover{
    color: burlywood;
    background-color: rgb(0, 0, 0);
}
main{
    width: 80%;
    margin: auto;
}
  section{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px palevioletred;
  }  
  h2{
    color: darkkhaki;
  }
h3{ 
    color: black;
}
.safari{
    border: 1px solid plum;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px grey;
}
footer{
    background-color: rosybrown;
    text-align: center;
    padding: 10px;
    color: antiquewhite;
}